*{
    font-family: 'Kanit', sans-serif;
    margin: 0;padding: 0;}
body{
    background-color: #ebebeb;
}

header{
    background-color: #fbbc04;
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid white;
}
header div {
    margin-left: 10px;
}
.header-img{
    width: 60px;
}
h1{
    font-family: 'Bangers', cursive;
    margin-left: 20px;
}
.main-container-cards{
    margin-bottom: 50px;
}
.main-card{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #fbbc04;
    border-radius: 7%;
    margin: 5px;
    font-weight: 600;
}
.dolar{
    color: #85bb65;
    font-weight: bold;
}
.main-card:hover{
    background-color:#f1f1f1; 
}
.main-container-form{
    align-items: center;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    border-bottom: 1px solid #fbbc04;
}
.main-form{
    display: flex;
    align-items: center;
}
.main-salary-label{
    font-size: 20px;
}
.button-salary{
    padding: 3px;
    border-radius: 8%;
}

footer{ 
    font-family: 'Bangers', cursive;
    border-top: 1px solid white;
    background-color: #fbbc04;
    width: 100%; 
    height: 50px;
    margin-top: 60px;
    justify-content: center;
    position: fixed;
    bottom: 0;  
}

footer .icon{
    color: white
}
.footer-title{
    margin-left:10px;
    width: 80%;
}
.footer-social{
    width: 20%;
}

@media only screen and (max-width: 510px) {
    .btn-danger{
        margin-top: 10px;
        margin-bottom: 30px;
    }
  }