{% include 'header.html' %}
<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h2 >Pesos: ${{data['pesos']}} </h2>
            <div class="h2-text"></div>
            <h2>¿Y en cada dolar?</h2>
        </div>
    </div>
    <div class="main-container-cards">
        <div class="row d-flex justify-content-center">
            <div class="col-3 main-card">
                <p>Dólar Oficial</p>
                <p class="dolar">${{data['Dolar Oficial']}}</p> 
            </div>
            <div class="col-3 main-card">
                <p>Dólar Blue</p>
                <p class="dolar">${{data['Dolar Blue']}}</p>
            </div>
            <div class="col-3 main-card">
                <p>Dólar Turista</p>
                <p class="dolar">${{data['Dolar turista']}}</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3 main-card">
                <p>Dólar Bolsa</p>
                <p class="dolar">${{data['Dolar Bolsa']}}</p>
            </div>
            <div class="col-3 main-card">
                <p>Dólar CCL</p>
                <p class="dolar">${{data['Dolar Contado con Liqui']}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <form  method="GET" action="/" class="text-center">
                <input class="btn-danger button-return" type="submit" value="VOLVER">
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}

</body>
</html>