<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b27b674285.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Sueldo en Dolares</title>
</head>
<body>
    <header>
        <div class="d-flex align-items-center w-100">
            <img class="header-img" src="/static/images/dolar.png" alt="">
            ➡️
            <img class="header-img" src="/static/images/roca.png" alt="">
            <h1>Dolar hoy</h1>
        </div>
    </header>
    <br><br>