{% include 'header.html' %}
<h1>COTIZACIÓN DEL DOLAR HOY</h1>
<br><br>
<table class="table bg-info">
    <tr>
        <th>Dólar Oficial</th>
        <th>Dólar Blue</th>
        <th>Dólar Turista</th>
    </tr>
    <tr>
        <td>{{data['dolaroficial']}}</td>
        <td>{{data['dolarblue']}}</td>        
        <td>{{data['dolarturista']}}</td>
    </tr>
    <tr>
        <th>Dólar Bolsa</th>
        <th>Dólar CCL</th>
        <th>Dólar Mayorista</th>
    </tr>
    <tr>
        <td>{{data['dolarbolsa']}}</td>
        <td>{{data['contadoliqui']}}</td>        
        <td>{{data['mayorista']}}</td>
    </tr>

</table>
<br><br>
<div class="h2-text">
<h2>INGRESÁ TU SALARIO EN PESOS Y AVERIGUÁ CUÁNTO GANÁS EN LOS DIFERENTES DÓLARES</h2> <br><br>     
</div>
<div class="local-form">
    <form method="GET" action="/calculate">
        <label for="salary">Salario: </label>
        <input type="number" id="salary" name="salary" value='00.00' placeholder="00.00"/>
        <input class="btn-danger button-salary" type="submit" value="CALCULAR" />
    </form>
</div>

{% include 'footer.html' %}


