{% include 'header.html' %}
<h1>COTIZACIÓN DEL DOLAR HOY</h1>
<table class="table bg-info">
    <tr>
        <th>Dólar Oficial</th>
        <th>Dólar Blue</th>
        <th>Dólar Turista</th>
    </tr>
    <tr>
        <td>{{data['dolaroficial']}}</td>
        <td>{{data['dolarblue']}}</td>        
        <td>{{data['dolarturista']}}</td>
    </tr>
    <tr>
        <th>Dólar Bolsa</th>
        <th>Dólar CCL</th>
        <th>Dólar Mayorista</th>
    </tr>
    <tr>
        <td>{{data['dolarbolsa']}}</td>
        <td>{{data['contadoliqui']}}</td>        
        <td>{{data['mayorista']}}</td>
    </tr>

</table>

<h2>INGRESÁ TU SALARIO EN PESOS Y AVERIGUÁ CUÁNTO GANAS EN LOS DIFERENTES DÓLARES</h2>
{% block content %}
<div class="local-form">
    <form method="GET" action="/calculate">
        <label for="salary">Salario: </label>
        <input type="number" id="salary" name="salary" value='0' placeholder="00.00"/><br>
        <input class="button-salary" type="submit"  button-chose-character value="Calcular" />
    </form>
</div>
{% endblock %}

{% include 'footer.html' %}


